<html>

<head>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script>
        var nome;
        var context;
        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    if ($('#inputChat').val() !== '')
                        $("#btnChat").click();
                    return false;
                }
            });
            $("#formChat").hide();
            $("#btnNome").click(function () {
                $("#formNome").hide();
                $("#formChat").show();
                nome = $('#inputNome').val();
                context = { nome: nome }
                sendMessage('');
            });
            $("#btnChat").click(function () {
                $('#logChat').append('<p>' + nome + ': ' + $('#inputChat').val());
                sendMessage($('#inputChat').val());
            });
            function sendMessage(mensagem){
                $.post('/chat/mensagem',
                    {
                        mensagem: mensagem,
                        context: JSON.stringify(context)
                    },
                    function (data) {
                        context = data.context;
                        $('#logChat').append('<p>Watson: ' + data.resposta);
                    }
                );
                $('#inputChat').val('');                
            }
        });
    </script>
</head>

<body>
    <h1>Bem vindo à página de Chat sobre Star Wars</h1>
    <form id="formNome">
        Seu nome é:
        <input type="text" id="inputNome" value="George">
        <button type="button" id="btnNome">Confirmar</button>
    </form>
    <form id="formChat">
        <p id="tituloChat">
            <p>
                <input type="text" id="inputChat">
                <button type="button" id="btnChat">Enviar</button>
                <h2>Conversa</h2>
                <div id="logChat"></div>
    </form>

</body>

</html>