<html>

<head>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/recorder.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>
    <h1>Bem vindo à página de Chat sobre Star Wars</h1>
    <form id="formNome">
        Seu nome é:
        <input type="text" id="inputNome" value="George">
        <button type="button" id="btnNome">Confirmar</button>
    </form>
    <form id="formChat">
        <p id="tituloChat">
            <p>
                <input type="text" id="inputChat">
                <button type="button" id="btnChat">Enviar</button>
                <button type="button" id="btnAudio">Iniciar Gravação</button>
                <h2>Conversa</h2>
                <div id="logChat"></div>
    </form>

</body>

</html>